* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: yellow;
    font-size: 1.5rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center; 
    min-height: 100vh;
    margin: auto;
}

input, button {
    font-size: inherit;
}

#box {
    background-color: black;
    color: white;
    padding: 30px;
    border: 2px solid white;
    border-radius: 15px;
}

#input {
    padding: 10px;
    margin: 20px;
    border-radius: 15px;
    border: none;
}

button {
    padding: 10px;
    border-radius: 15px;
    border: none;
    background-color: yellowgreen;
    color: black;
}

#result {
    padding: 20px;
    margin: 10px;
}